/* media queries for screens small or max 900px */

* {    
    box-sizing: border-box; 
}

/* code for font size for under 900px */
@media (max-width: 899px) {
    body {
    font-size: 12px;
}
}


/* code for flexbox */

/* code for nav bar */
@media (max-width: 899px ) {
    .navBar-flex {
    flex-direction: column;
    width: 100%;
    }
    

}

/* code for grids */

/*parent class of grid main content*/
@media (max-width: 899px ) {
    .main-grid {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: 20px;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
        }
      
    /* 1st child of grid main content*/
    .grid-item-starter-list { 
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        margin-left: 170px;
        
        }
    
    /* 2nd child of grid main content*/
    .grid-item-photo-kit { 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 220px;     
        }
    
    /* 3th child of grid main content*/
    .grid-item-list { 
        grid-column: 1 / 2;
        grid-row: 3 / 4;  
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        padding: 40px;
        }
    
    /* 4th child of grid main content*/
    .grid-item-tutorial { 
        grid-column: 1 / 2;
        grid-row: 4 / 5;  
        margin-top: -20px;
        margin-left: 20px;
        } 
    
    .table-dates {
        margin-left: 140px;
        }
}

/*parent class of section media content*/
@media (max-width: 899px ) { 
    .section-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
        place-items:inherit; 
        }

    .grid-item-green {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-left: 100px;
        }

    .grid-item-leopard {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin-left: 20px;
        }

    .grid-item-hearts {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        margin-left: 100px;
        }

    .grid-item-xmas {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin-left: 20px;
        }
}

/*parent class of grid footer content*/
@media (max-width: 899px ) {
    .footer-grid {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        height: auto;
        padding: 20px;
        margin: 20px; 
        }

/* 1st child of grid footer content*/
    .grid-item-forms { 
        grid-column: 1 / 1; 
        grid-row: 1 / 1; 
        }

    .footer-text-1, .footer-text-2 {
        margin-left: 140px;
        }
        

/* 2nd child of grid footer content*/
    .grid-item-social-media { 
        grid-column: 1 / 1; 
        grid-row: 2 / 2;
        padding-top: 50px; 
        }
}  

/* media queries for screens larger then 900px */

/* code for font size for under 900px */
@media (min-width: 900px ) {
    body {
    font-size: 16px;
}
}

/* code for flexbox */

/* code for nav bar */
@media (min-width: 900px ) {
    .navBar-flex {
        flex-direction: row;
        }
}

/* code for media content */
/*
@media (min-width: 900px ) {
    .section-flex {
        flex-direction: row;
        align-content: space-between;
        width: 100%;
        gap: 20px;
        }
} */

/* code for grids */

/*parent class of grid main content*/
@media (min-width: 900px ) {
    .main-grid {  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        height: auto;
        padding: 20px;
        margin: 20px;
        }

/* 1st child of grid main content*/
    .grid-item-starter-list { 
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        }

/* 2nd child of grid main content*/
    .grid-item-photo-kit { 
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin-left: 150px;
    }

/* 3th child of grid main content*/
    .grid-item-list { 
        grid-column: 1 / 1;
        grid-row: 2 / 2;  
        }

/* 4th child of grid main content*/
    .grid-item-tutorial { 
        grid-column: 2 / 2;
        grid-row: 2 / 2;  
        text-align: center;
        margin-top: 60px;
        } 
}



/*parent class of section media content*/
@media (min-width: 900px ) { 
    .section-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
        }

    .grid-item-green {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin-right: 100px;
    
        }

    .grid-item-leopard {
        grid-column: 4 / 4;
        grid-row: 1 / 1;
        margin-right: 100px;
        }

    .grid-item-hearts {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin-right: 150px;
        
        }

    .grid-item-xmas {
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        margin-right: 100px;
        
        }
}

/*parent class of grid footer content*/
@media (min-width: 900px ) {
    .footer-grid {  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 25px;
        gap: 20px;
        height: auto;
        padding: 20px;
        margin: 20px; 
        }
    
    
    .grid-item-forms { /* 1st child of grid footer content*/
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        }
    
    .footer-text-1, .footer-text-2 {
        margin-left: 40px;
        }
        
    .grid-item-social-media { /* 2nd child of grid footer content*/
        grid-column: 2 / 2 ;
        grid-row: 1 / 1;
        padding-top: 50px;
        }
}